body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  width: 1200px;
}

.item-map {
  width: 750px;
}

.selectors {
  margin-top: : 2em;
  margin-bottom: 2em;
}
.selectors label {
  margin-left: 2em;
}
.selectors select {
  font-size: 0.9em;
}

#map {
  width: 750px;
  height: 700px;
}


table#table {
  border: none;
}

table#table thead tr {
  background-color: #666;
  color: #eee;
}
table#table thead tr th {
  padding: 0.5em 1.1em;
}
#table td {
  padding: 0.1em 1.1em;
}

#table .name {
  text-align: left;
}
#table .val {
  text-align: right;
}

#download_data {
  font-size: 1em;
  margin-top: 2em;
}

.footer {
  font-size: 0.9em;
  font-variant: small-caps;
  text-align: center;
}

.footer img {

  width: 120px;
}
